
body {
  background:#222222;
  color:#DDDDDD;
  font-family:'Hack', monospace, sans-serif;
  font-size:16px;
  font-weight:300;
  margin:50px auto 0px auto;
  padding:0px 12px;
  /* width:600px; */
}

div.big-center {
  color:#22FF22;
  font-size:96px;
  margin:128px auto 32px auto;
  text-align: center;
}

div.below-big-center {
  color:#CCCCCC;
  font-size:24px;
  margin:32px auto 32px auto;
  text-align: center;
}

div.contact {
  color: #AAAAAA;
  font-size:16px;
  margin:32px auto 32px auto;
  text-align: center;
}
